


.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color:#1f2635;
  margin-left:20px;
  margin-right:20px;
  padding-left: 5%;
  padding-top:2%;
  padding-right:5%;
  margin-top:5%


}


.fouroptions { 
  display: flex;
  flex-direction: row;
  width:100%
}

.box{ 
  display: flex;
  flex-direction:column;
  align-items: center;

}

.topheader{ 
  background-color:#1f2635;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-left:20px;
  margin-right:40px;
  padding-left: 5%;
  padding-top:2%;
  padding-right:5%



}


